
<Router AppAssembly="@typeof(App).Assembly" OnNavigateAsync="HandleNavigation">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <TaskManagement.WebUI.Pages.Authentication.AuthenticationPage/>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private async Task HandleNavigation(NavigationContext args)
    {
        try
        {
            await authService. CreateAdmin();

            var authState = await AuthStateProvider.GetAuthenticationStateAsync();

            if (authState.User.Identity == null || !authState.User.Identity.IsAuthenticated)
            {
                NavManager.NavigateTo("/login", false, true);
            }
           
        }
        catch
        {
            NavManager.NavigateTo("/login", false, true);
        }
    }
}